@import "../variables";
@import "../mixin";

.gallery__wrapper {
  @include container();
  background: url('../img/bg-template2.jpg') repeat;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 100px;
  padding-top: 50px;
  border-top: 2px solid #d15030;
  z-index: 2;
}

.gallery__title {
  position: relative;
  display: block;
  @include zero-style();
  @include fontpref(2em, 30px, 700);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 1%;
  padding-right: 1%;
  color: $h2-color;
  z-index: 100;
  @include cover-background("../img/title-arrow.png", top, center, scroll);
  background-size: 100% 100%;
  z-index: 3;
}

.gallery__article {
  position: relative;
  @include zero-style();
  @include fontpref(1.2em, 18px, 400);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  z-index: 3;
}

.gallery__unit-container {
  display: flex;
  flex-direction: column;
  @include padding-left-right(1%, 1%);
  margin: 5%;
  min-height: auto;
  border: 1px solid rgb(217, 217, 217);
  overflow: hidden;
  background: url('../img/bg-template.jpg') repeat;
  box-shadow: 0 0 5px 0px #232323;
}

.gallery-slide::before {
    @include pseudo();
    position: absolute;
    bottom: -205px;
    left: -20px;
    width: 310px;
    height: 220px;
    background-image: url('../img/gallery.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.gallery__pic {
  @include padding-top-bottom(10px, 10px);
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.owl-prev,
.owl-next {
  position: absolute;
  width: 50px;
  height: 70px;
  top: 43%;
  background-color: rgba(30, 32, 32, 0.5) !important;
  background-size: 90% !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  & span {
  font-size: 0;
  }
}

.owl-prev {
  left: 0;
  background-image: url("../img/arrows-left.png") !important;

}

.owl-next {
  right: 0;
  background-image: url("../img/arrows-right.png") !important;
}

.owl-nav {
  margin-top: 0 !important;
}

@media ($tablet-widths) {
  .gallery__wrapper {
    padding-bottom: 8%;
  }

  .gallery__title {
  text-align: center;
  width: 45%;
  height: 90px;
  margin: 0 auto;
  padding-top: 30px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 3%;
  color: $h2-color;
}

.gallery__article {
  padding-bottom: 5%;
}

  .gallery__pic img {
    max-height: 480px;
  }

  .gallery-slide::before {
    bottom: -205px;
    left: -30px;
    width: 420px;
    height: 290px;
  }
}

@media ($desktop-widths) {
  .gallery__wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
  }
  .gallery__title {
    height: 150px;
    font-size: 50px;
    width: 30%;
    padding-bottom: 1%;
    padding-left: 80px;
    padding-top: 60px;
  }

  .gallery__article {
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 26px;
  padding-left: 10%;
  padding-right: 10%;
}

.gallery-slide::before {
  bottom: -295px;
  left: -21px;
  width: 490px;
  height: 340px;
}
}
