@import "../variables";
@import "../mixin";

.intro__wrapper {
  position: relative;
  @include container();
  min-height: 480px;
  margin-top: -105px;
  padding-bottom: 1%;
  background-color: $background-colr-1;
  @include cover-background("../img/intro-bg.jpg", top, center, scroll);
}

.intro__title {
  padding-top: 155px;
  padding-left: 2%;
  padding-right: 2%;
  @include fontpref(1.8em, 30px, 800);

  color: $h1-color;
  text-align: center;

  & span {
    color: $hover-font-color;
  }
}

.intro__article {
  @include zero-style();
  padding-top: 47px;
  color: $h1-color;
  text-align: center;
  @include fontpref(1.1em, 18px, 400);
}

.intro__btn {
  @include link-btn();
  margin-top: 65px;
  width: 80%;
}

.intro__icons {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.intro__icons__item {
  width: 150px;
  height: 100px;

  background-size: 90% 78%;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__icons__item--1 {
  background-image: url('../img/sitro.png');
}

.intro__icons__item--2 {
  background-image: url('../img/crem.png');
}

.intro__icons__item--3 {
  background-image: url('../img/dushes.png');
}

.intro__icons__item--4 {
  background-image: url('../img/tarhun.png');
}

@media ($tablet-widths) {
  .intro__wrapper {
    height: 700px;
    margin-top: -130px;
    @include cover-background("../img/intro-tablet.jpg", top, center, scroll);
    &::before {
      @include pseudo();
      bottom: -7%;
      left: 7%;
      @include cover-background("../img/intro-thing.png", top, center, scroll);
      background-size: 90%;
      width: 260px;
      height: 445px;
      z-index: 10;
    }
  }

  .intro-flex-container {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    width: 55%;
  }

  .intro__title {
    padding-top: 140px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    @include fontpref(36px, 38px, 800);
  }

  .intro__article {
    @include zero-style();
    padding-left: 15%;
    padding-top: 40px;
    text-align: left;
    @include fontpref(1.3em, 24px, 400);
    letter-spacing: 0.5px;
  }

  .intro__btn {
    width: 58%;
  }

  .intro__icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 30px;
  }

  .intro__icons__item {
    width: 150px;
    height: 90px;
    background-size: 90% 70%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .intro__icons__item--1 {
    background-image: url('../img/sitro.png');
  }

  .intro__icons__item--2 {
    background-image: url('../img/crem.png');
  }

  .intro__icons__item--3 {
    background-image: url('../img/dushes.png');
  }

  .intro__icons__item--4 {
    background-image: url('../img/tarhun.png');
  }
}

@media ($desktop-widths) {
  .intro__title {
    @include fontpref(42px, 46px, 800);
  }

  .intro__wrapper::before {
    // bottom: -5%;
    width: 360px;
    height: 600px;
  }

    .intro__icons__item {
      width: 170px;
      height: 130px;

      background-size: 95% 75%;
      background-repeat: no-repeat;
      background-position: center;
    }
}
