@import "../variables";
@import "../mixin";

.price__wrapper {
  @include container();
  background: url('../img/bg-template.jpg') repeat;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 2px solid #d15030;
  padding-bottom: 5%;
}

.price__title {
  @include zero-style();
  @include fontpref(2em, 30px, 700);
  text-align: center;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  color: $h2-color;
}

.price__article {
  @include zero-style();
  position: relative;
  padding-top: 50px;
  @include fontpref(1.4em, 26px, 400);
  text-align: center;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 10%;
}

.price__container {
  width: 90%;
  margin: 0 auto;
  background-color: #d15030;
  border-radius: 10px;
  padding: 2.6rem;
}

.price__container__title {
  @include zero-style();
  @include fontpref(1.5em, 22px, 400);
  color: $second-font-color;
  padding-bottom: 1.6rem;
}

.price__container__cost {
  @include fontpref(3rem, 22px, 700);
  color: $second-font-color;
  margin-bottom: 2.5rem;
  letter-spacing: 2px;
  & sup {
    font-size: 1.6rem;
    padding-left: 5px;
  }
}

.price__container__list {
  @include zero-style();
}

.price__container__list__item {
  position: relative;
  padding: .2rem 0 .7rem .8rem;
  @include fontpref(1.2em, auto, 300);
  color: $second-font-color;
  &::before {
    @include pseudo();
    content: '';
    width: 15px;
    height: 15px;
    top: 7px;
    left: -10px;
    background-image: url('../img/check-mark.png');
    background-size: 100% 100%;
  }
}

.price__btn {
  @include link-btn();
  color: $main-font-color;
  background-color: $second-font-color;
  margin-top: 65px;
  width: 100%;
}

@media ($tablet-widths) {
  .price__container {
    width: 50%;
  }

  .price__article {
    padding-bottom: 5%;
  }
}

@media ($desktop-widths) {
  .price__container {
    width: 30%;
  }

  .price__article {
  padding-right: 20%;
  padding-left: 20%;
}
}
